<div class="flex flex-col justify-center">
    <img src="{{album.images[1].url}}" alt="">
    <div class="font-bold text-lg mt-2">{{album.name}}</div>
    <div class="text-gray-400">{{album.total_tracks}} tracks</div>
    <div class="text-gray-400">Release date: {{album.release_date}}</div>
    <div class="flex justify-center my-2">
        <a href="https://pt.wikipedia.org/wiki/Discografia_de_Led_Zeppelin" 
           class="text-sm pb-1 border-b text-gray-500 hover:text-green-400 hover:border-green-400 transition duration-300" 
           target="_blank" 
           rel="noopener noreferrer">
            See more
        </a>
    </div>
</div>