<div class="flex flex-col gap-16 lg:flex-row lg:items-center">
    <div class="lg:w-1/2 flex flex-col justify-start">
        <h1 class="text-4xl font-bold mb-8">About the band</h1>
        <p class="text-justify font-thin mb-12">
            Led Zeppelin, formed in 1968 in London, is one of the most influential rock bands in history.
            The band members included Robert Plant, Jimmy Page, John Paul Jones, and John Bonham. They are
            known for their pioneering fusion of rock, blues, and folk, which laid the groundwork for the heavy
            metal genre and left a lasting impact on the music industry.
        </p>

        <h2 class="text-3xl font-bold mb-4">Honors and Awards</h2>
        <p class="text-justify font-thin mb-12">
            Led Zeppelin has received numerous accolades over the years, including induction into the Rock and Roll
            Hall of Fame in 1995 and a Grammy Lifetime Achievement Award in 2005. They were also honored with the
            Kennedy Center Honors in 2012 for their contribution to American culture.
        </p>

        <h2 class="text-3xl font-bold mb-4">Relation with The Lord of the Rings</h2>
        <p class="text-justify font-thin mb-12">
            Led Zeppelin's music is deeply influenced by literature, particularly J.R.R. Tolkien's works. Songs like
            "Ramble On," "The Battle of Evermore," and "Misty Mountain Hop" contain references to characters and
            locations from "The Lord of the Rings," adding a mystical and fantastical element to their music that 
            resonates with fans of Tolkien's Middle-earth.
        </p>

        <h2 class="text-3xl font-bold mb-4">Cultural Impact on Heavy Metal</h2>
        <p class="text-justify font-thin mb-12">
            Led Zeppelin's powerful sound and innovative approach to rock music played a crucial role in shaping the
            heavy metal genre. Their heavy guitar riffs, dark themes, and dynamic performances set a new standard
            for rock music, influencing countless bands and helping to define the sound and style of heavy metal.
        </p>

        <div class="grid md:grid-cols-2 gap-8">
            <div>
                <h3 class="font-bold uppercase text-sm text-green-400 mb-2">Total Albums Sold</h3>
                <span class="text-4xl font-bold">+ 300 million</span>
            </div>

            <div>
                <h3 class="font-bold uppercase text-sm text-green-400 mb-2">Cultural Impact</h3>
                <span class="text-4xl font-bold">Heavy like Metal</span>
            </div>
        </div>
    </div>

    <div class="lg:w-1/2 flex justify-end lg:justify-center mt-8 lg:mt-0">
        <img src="/assets/ledzeppelinabout.jpg" alt="Led Zeppelin" class="rounded-xl h-auto max-w-full shadow-xl" width="500">
    </div>
</div>