<div class="relative bg-cover bg-center" style="background-image: url('/assets/ledzeppelin.jpg'); height: 50vh;">
</div>

<div class="bg-black py-10">
    <div class="flex flex-col items-center">
        <latest-album></latest-album>
    </div>
</div>

<div class="fixed bottom-4 left-1/2 transform -translate-x-1/2 hidden lg:block"> 
    <a href="https://merch.ledzeppelin.com/"
        target="_blank"
        class="bg-transparent font-light uppercase hover:bg-green-400 text-white py-4 px-12 border border-green-400 transition duration-300">
        Access Official Merchandise
    </a>
</div>