@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Montserrat", sans-serif;
    color: #dddddd;
    height: 100%;
    background-color: #000201;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.website-logo {
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
}